.login-screen {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    color: #172747;
    height: 100vh;
}

.left-section {
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: #FCE7A2;
}

.right-section {
    flex: 4;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-name-header {
    font-size: 40px;
    display: block;
    position: relative;
    margin-left: 10px;
    flex: 4;
    padding: 20px;
}

h1{
    font-size: 4rem;
    margin-top: 0px;
    padding-top: 0px;
    text-align: left;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.Sign-in-header{
    font-size: 40px;
    margin-bottom: 10px;
}

.logo-container{
    display: block;
    flex: 2;
    padding: 20px;
}

.UCSD-logo {
    position: absolute;
    left:0;
    top:0;
    display: block;
    height: 100px;
    width: 100px;
    padding: 20px;
}

.google-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.google-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.clipart-container{
    display: flex;
    align-items: flex-end;
    flex: 4;
    width: 100%;
    padding-right: 0px;
}

.left-section img.Login-Clipart {
    width: 100%;
    opacity: 0.8;
}