/* EventCard.css */
.ucsd-logo {
    width: 50px;
    height: auto;
}
.event-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    margin-bottom: 10px;
}

.event-card p {
    margin: 5px 0;
}

.event-card-link {
    text-decoration: none; 
    color: inherit; 
}

.event-card-link:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}   

.event-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px 5px 0 0; 
}
