body {
    margin: 0;
    padding: 0;
}

.events-container {
    background-color: #FCE7A2;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 10px;
}

.ucsd-logo {
    width: 50px;
    height: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

.nav-link {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.content {
    padding: 20px;
    padding-top: 70px; 
}

.search-bar {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
    padding-top: 30px;
}

.search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

.tags-dropdown {
    width: 5%;
    padding: 10px;
    font-size: 16px;
    margin-right: auto;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px; 
}