body{
    background-color: #FCE7A2;
}

.event-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button-container {
    align-self: flex-start;
    padding-top: 65px;
    margin-top: 20px;
    margin-left: 20px;
}

.back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: auto;
}

.event-details-p{
    text-align: left;
}

.back-png {
    width: 40px;
    height: auto;
}

.event-details-content {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.event-info{
    display: flex;
}

.left-section-events {
    display: flex; 
    padding-left: 10%;
    flex-direction: column; 
}

.event-date-time {
    margin-bottom: 10px;
    text-align: left;
}

.event-name {
    font-size: 32px;
    text-align: left;
    width: 70%;
}

.rsvp-button {
    background-color: #FFCD29;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    width: 80px;
}

.going-button {
    background-color: #77DC72;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    width: 80px;
}

.poster {
    display: flex;
    margin-top: 30px;
}

.description {
    padding-top: 20px;
    padding-bottom: 200px;
    text-align: left;
}

.right-section-events {
    flex: auto;
    width: 40%;
    align-items: flex-start;
    background-color: #FCE7A2;
    justify-content: start;
    padding-top: 105px;
    padding-left: 50px;
}


.label {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.info {
    text-align: left;
    font-weight: normal;
}