body {
    margin: 0;
    padding: 0;
}

.events-container {
    background-color: #FCE7A2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 1000; 
}

.ucsd-logo {
    width: 50px;
    height: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.content {
    padding: 20px;
    padding-top: 70px; 
}

.search-and-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1; 
    padding: 10px;
    margin-right: 20px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tags-dropdown-container {
    position: relative;
    cursor: pointer;
    user-select: none; 
}

.tags-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 2; 
    width: 100%; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    border-radius: 4px; 
}

.tags-dropdown.open {
    display: block;
}

.dropdown-option {
    padding: 8px;
    cursor: pointer;
}

.dropdown-option:hover,
.dropdown-option.selected {
    background-color: #f0f0f0;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.event-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px; 
}

.event-card-link {
    text-decoration: none;
    color: inherit; 
}
