body {
    margin: 0;
    padding: 0;
}

.friends-container {
    background-color: #FCE7A2;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 40px;
}

.friends-container h2{
    color: #172747;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 10px;
}

.ucsd-logo {
    width: 50px;
    height: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

.nav-link {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.content {
    padding: 20px;
    padding-top: 70px; 
}

.search-bar-friends {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    background-color: #F5F5F5;
    border-radius: 15px;
    border: 0px;
}

.tags-dropdown {
    width: 5%;
    padding: 10px;
    font-size: 16px;
    margin-right: auto;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px; 
}

.event-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    margin-bottom: 10px;
}

.event-card p {
    margin: 5px 0;
}

.event-card-link {
    text-decoration: none; 
    color: inherit; 
  }
  
.event-card-link:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px 5px 0 0; 
}

.RequestsButton {
    color: #172747 !important;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
}