.friend-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px; 
    margin: 0 auto;
    gap: 40px;
}

.friend-card {
    width: 31%;
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.friend-image {
    width: 40%;
    overflow: hidden;
    border-radius: 50%;
    padding: 20px;
}

.friend-image img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #172747;
}

.friend-info {
    width: 60%;
    padding: 5%;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.friend-header {
    display: flex;
    justify-content: space-between; /* Align elements with space between */
    align-items: flex-start; /* Align elements to the top */
}


.friend-header h3{
   font-weight: bold;
}

.add-button {
    background-color: #ffcd29;
    color: #172747;
    border: none;
    padding: 8px 12px;
    border-radius: 20%;
    font-weight:bold;
    cursor: pointer;
}