.ReactModal__Content--after-open {
    background-color: #f5ebc9 !important;
    color: #172747 !important;
}

.request-modal{
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.request-modal h2{
    font-weight: bold;
  
.closeButton {
    border: 0px;
    background-color: transparent;
}

.requests-list{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 10px;
}

.modalButton{
    background-color: transparent;
    color: #172747 !important;
    border: 0px;
    font-weight: bold;
    margin-left: 10px;
}