name: Deployment # name of the workflow

on:
  push:
    branches:
      - main # branch name
  pull_request:
    branches:
      - main

env:
  PROJECT_ID: careful-span-414702
  GAR_LOCATION: us-central1 # TODO: update Artifact Registry location
  REGION: us-central1 # TODO: update Cloud Run service region
  APP: app

jobs:
  deploy:
    # Add 'id-token' with the intended permissions for workload identity federation
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v3'

      - name: 'Build and push container'
        run: |-
          echo ${{ secrets.DEPLOYMENT_PVT_KEY }} >> ./ssh-key.key
          ssh -i ./ssh-key.key gurnoor@34.172.41.112 "cd /home/gurnoor/take-a-break && git pull origin main && bash setup.sh"
