body{
  margin: 0;
  padding: 0
}

.event-container {
  background-color: #FCE7A2;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  padding: 100px;

}
.title {
  font-size: 32px;
  margin-top: 80px; 
  margin-left: 20px;
}

.subtitle {
  font-size: 20px;
  margin-left: 20px;
  color: #3F56A6;
}

h2 {
  text-align: left;
}

.upcoming-events {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 40px; 
  font-weight: bold;
}

.show-more-button{
  background-color: #ffcd29;
  color: #172747;
  border: none;
  padding: 8px 12px;
  border-radius: 20%;
  font-weight:bold;
  cursor: pointer;
}

.wellfare-info {
  display: flex;
  flex-direction: column; 
  margin-top: 20px; 
}

.section {
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
}

.left-column {
  flex: 1; 
  padding: 20px;
  box-sizing: border-box;

}

.right-column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-info,
.hours-locations {
  text-align: left;
  font-weight: normal;
}
.content {
  padding: 20px;
}

.service-carousel {
  width: 50%;
}

a:hover {
  color: black; 
  text-decoration: underline; 
}
a{
  color: black;
  text-decoration: none;
}
